sxhkd/.config/sxhkd/#*
sxhkd/.config/sxhkd/sxhkdrc~
ncmpcpp/.config/ncmpcpp/error.log
bspwm/.config/bspwm/#*
nvim/.config/nvim/plugged
qtile/.config/qtile/#*
mpd/.config/mpd/#*
mpd/.config/mpd/log
mpd/.config/mpd/state
mpd/.config/mpd/pid
mpd/.config/mpd/databse
mpd/.config/mpd/mpd.conf~
mpd/.config/mpd/playlist
mpd/.config/mpd/sticker.sql
alacritty/.config/alacritty/alacritty.yml.bak
zsh/.zsh/powerlevel10k
zsh/#*
