emacs/.emacs.d/config.el
emacs/.emacs.d/elpa
emacs/.emacs.d/init.el~
emacs/.emacs.d/auto-save-list
emacs/.emacs.d/session.*
xmonad/.xmanad/xmonad.hi
xmonad/.xmanad/xmonad.o
xmonad/.xmanad/xmonad.errors
xmonad/.xmanad/xmonad-x86*
