emacs/.emacs.d/config.el
emacs/.emacs.d/#*
emacs/.emacs.d/.#*
emacs/.emacs.d/elpa
emacs/.emacs.d/init.el~
emacs/.emacs.d/auto-save-list
emacs/.emacs.d/session.*
emacs/.emacs.d/apps
emacs/.emacs.d/games
emacs/.emacs.d/config.el~
xmonad/.xmonad/xmonad.hi
xmonad/.xmonad/xmonad.o
xmonad/.xmonad/xmonad.errors
xmonad/.xmonad/xmonad-x86*
xmonad/.xmonad/xmonad.hs~
