[com/gexperts/Tilix]
quake-specific-monitor=0
terminal-title-style='none'
window-style='borderless'

[com/gexperts/Tilix/profiles/2b7c4080-0ddd-46c5-8f23-563fd3ba789d]
background-color='#212121'
background-transparency-percent=6
badge-color-set=false
bold-color-set=false
cursor-colors-set=false
font='Cascadia Code PL 13'
foreground-color='#F1F1F1'
highlight-colors-set=false
palette=['#212121', '#C30771', '#10A778', '#A89C14', '#008EC4', '#523C79', '#20A5BA', '#D9D9D9', '#424242', '#FB007A', '#5FD7AF', '#F3E430', '#20BBFC', '#6855DE', '#4FB8CC', '#F1F1F1']
use-system-font=false
use-theme-colors=false
visible-name='Default'

[com/github/donadigo/eddy]
mime-types=['application/vnd.debian.binary-package', 'application/x-deb']
window-x=309
window-y=144

[desktop/ibus/general]
preload-engines=['xkb:us::eng', 'xkb:us::eng']
version='1.5.22'

[org/gnome/control-center]
last-panel='background'

[org/gnome/desktop/app-folders]
folder-children=['Pop-Office', 'Pop-System', 'Pop-Utility', '734437c8-8e1a-4a02-876b-4badd79a64c0', 'b2fad50e-df9c-4f7b-8ab3-27364b0ee674', 'b43d635a-0e2d-4d4b-9b81-0bcd4552319f']

[org/gnome/desktop/app-folders/folders/500a2fd0-9c88-489b-b174-2639abb1c77b]
name='Office'
translate=false

[org/gnome/desktop/app-folders/folders/734437c8-8e1a-4a02-876b-4badd79a64c0]
apps=['org.gnome.baobab.desktop', 'org.gnome.DiskUtility.desktop', 'com.system76.Popsicle.desktop', 'org.gnome.Totem.desktop', 'gtkhash.desktop', 'winetricks.desktop', 'org.gnome.Weather.desktop', 'org.gnome.seahorse.Application.desktop', 'org.gnome.eog.desktop', 'gnome-session-properties.desktop', 'org.gnome.Calendar.desktop', 'org.gnome.Screenshot.desktop', 'org.gnome.FileRoller.desktop', 'com.github.donadigo.eddy.desktop', 'org.gnome.Calculator.desktop', 'gnome-system-monitor.desktop', 'com.github.tchx84.Flatseal.desktop', 'ca.desrt.dconf-editor.desktop', 'org.gnome.Extensions.desktop']
name='Utilities'

[org/gnome/desktop/app-folders/folders/9a026bda-bbe6-40a2-93d8-5f1658e972ad]
name='Preferences'
translate=false

[org/gnome/desktop/app-folders/folders/b2fad50e-df9c-4f7b-8ab3-27364b0ee674]
apps=['im-config.desktop', 'gnome-language-selector.desktop', 'info.desktop', 'nvidia-settings.desktop', 'yelp.desktop', 'org.gnome.PowerStats.desktop', 'gucharmap.desktop', 'org.gnome.font-viewer.desktop']
name='Preferences'

[org/gnome/desktop/app-folders/folders/b43d635a-0e2d-4d4b-9b81-0bcd4552319f]
apps=['org.libreoffice.LibreOffice.desktop', 'org.libreoffice.LibreOffice.base.desktop', 'org.libreoffice.LibreOffice.draw.desktop', 'org.libreoffice.LibreOffice.writer.desktop', 'org.libreoffice.LibreOffice.math.desktop', 'org.libreoffice.LibreOffice.impress.desktop', 'org.libreoffice.LibreOffice.calc.desktop', 'simple-scan.desktop']
name='Office'

[org/gnome/desktop/app-folders/folders/b727c77c-53ce-4a78-b116-25d606f20dee]
name='Unnamed Folder'
translate=false

[org/gnome/desktop/app-folders/folders/e22c78e2-3c33-4484-a09e-cf9ad56aa2ad]
name='Preferences'
translate=false

[org/gnome/desktop/background]
color-shading-type='solid'
picture-options='zoom'
picture-uri='file:///home/me/.local/share/backgrounds/2020-04-29-18-27-39-744900.png'
primary-color='#000000000000'
secondary-color='#000000000000'

[org/gnome/desktop/interface]
gtk-im-module='gtk-im-context-simple'
toolkit-accessibility=false

[org/gnome/desktop/notifications]
show-banners=true

[org/gnome/desktop/screensaver]
color-shading-type='solid'
picture-options='zoom'
picture-uri='file:///home/me/.local/share/backgrounds/2020-04-29-18-27-39-744900.png'
primary-color='#000000000000'
secondary-color='#000000000000'

[org/gnome/shell]
command-history=['r']
disabled-extensions=['desktop-icons@csoriano', 'alt-tab-raise-first-window@system76.com', 'always-show-workspaces@system76.com', 'pop-shell@system76.com']
enabled-extensions=['batteryiconfix@kylecorry31.github.io', 'pop-shop-details@system76.com', 'system76-power@system76.com', 'ubuntu-appindicators@ubuntu.com', 'dash-to-panel@jderose9.github.com']
favorite-apps=['chromium.desktop', 'org.mozilla.firefox.desktop', 'code.desktop', 'org.gnome.Nautilus.desktop', 'com.gexperts.Tilix.desktop', 'org.gnome.Lollypop.desktop', 'io.elementary.appcenter.desktop', 'org.gabmus.gfeeds.desktop']
had-bluetooth-devices-setup=true

[org/gnome/shell/extensions/dash-to-panel]
appicon-margin=4
check-update=true
click-action='CYCLE'
dot-color-1='#5294e2'
dot-color-2='#5294e2'
dot-color-3='#5294e2'
dot-color-4='#5294e2'
dot-color-dominant=true
dot-color-override=false
dot-color-unfocused-1='#5294e2'
dot-color-unfocused-2='#5294e2'
dot-color-unfocused-3='#5294e2'
dot-color-unfocused-4='#5294e2'
dot-style-focused='SOLID'
dot-style-unfocused='SOLID'
focus-highlight=true
focus-highlight-color='#eeeeee'
focus-highlight-dominant=false
force-check-update=false
hot-keys=true
hotkeys-overlay-combo='TEMPORARILY'
intellihide=true
intellihide-behaviour='FOCUSED_WINDOWS'
intellihide-hide-from-windows=true
intellihide-show-in-fullscreen=true
intellihide-use-pressure=true
middle-click-action='LAUNCH'
shift-click-action='MINIMIZE'
shift-middle-click-action='LAUNCH'
shortcut=@as []
shortcut-text=''
show-apps-icon-file='/usr/share/icons/pop-os-branding/pop_icon.svg'
show-showdesktop-button=false
show-tooltip=true
show-window-previews=false
taskbar-position='CENTEREDMONITOR'
trans-bg-color='#3d331b'
trans-panel-opacity=1.0
trans-use-custom-bg=true
trans-use-custom-opacity=true
window-preview-title-font-color='#dddddd'

[org/gtk/settings/file-chooser]
date-format='regular'
location-mode='path-bar'
show-hidden=false
show-size-column=true
show-type-column=true
sidebar-width=150
sort-column='name'
sort-directories-first=true
sort-order='ascending'
type-format='category'
window-position=(26, 66)
window-size=(1096, 822)
