configuration {
	  font: "JetBrains Mono 15";
	  theme: "~/.config/rofi/themes/base16-default-light.rasi";
      width: 50;
      bw: 0;
      yoffset: 8;
      xoffset: 8;
      fullscreen: false;
      bw: 3;
      show-icons: true;
      terminal: "kitty";
      lines: 9;
      run-command: "{cmd}";
      run-shell-command: "{terminal} -e {cmd}";
      click-to-exit: true;
	  }
