configuration {
	  font: "FuraCode Nerd Font 14";
	  theme: "~/.config/rofi/colors-rofi-dark.rasi";
      width: 70;
      bw: 0;
      yoffset: 8;
      xoffset: 8;
      fullscreen: false;
      bw: 3;
      show-icons: false;
      terminal: "kitty";
      lines: 9;
      run-command: "{cmd}";
      run-shell-command: "{terminal} -e {cmd}";
      click-to-exit: true;
	  }
